@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: url(../font/Pretendard-Light.woff2) format('woff2'),
  url(../font/Pretendard-Light.woff) format('woff');
}

html,
body {
 height: 100%;
 background-color: #231f20;
 background-image: url('../img/website-background.png');
 background-repeat: no-repeat;
 background-position: top center;
 background-size: cover;
 font-family: 'Pretendard';
 overflow-x: hidden;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

p {
  padding-bottom: 0;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.nav-item {
  margin: 0 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 8px 15px;
}

.nav-link {
  position: relative;
  z-index: 99;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.navbar .navbar-toggler-icon {
  background-image: url('../img/burger.png');
}

.btn {
  padding: 6px 15px;
  border-radius: 20px;
  transition: all ease-in .3s;
  font-weight: 700;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-blue {
  font-size: 20px;
  border-color: #0068d0;
  color: #0068d0;
}

.btn-blue:hover {
  color: #0068d0;
  text-shadow:
    0 0 7px #0068d0,
    0 0 10px #0068d0,
    0 0 21px #0068d0;
}

.btn-big {
  padding: 10px 80px;
}

.border {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.main-section {
  position: relative;
}

.heading {
  margin: 50px 0;
  padding: 20px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: 700;
  font-size: 50px;
}

.text-year {
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 80px;
}

.img-ring {
  opacity: 0.3;
  position: absolute;
  top:-21%;
  left:-22%;
  -webkit-transform:translate(21%,22%);
  -ms-transform:translate(21%,22%);
  transform: translate(21%, 22%);
  width: 132%;
  animation-name: rotate;
  animation-duration: 150s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.link-footer a img {
  transition: all ease-in .3s;
}

.link-footer a:hover img {
  transform: scale(1.05);
}

@keyframes rotate {
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
 .nav-item {
   text-align: center;
 }
}

@media screen and (max-width: 767px) {
  .link-footer a {
    display: block;
    margin-top: 20px;
  }
}
